h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.hero {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 80%;
}

.text-box h1 {
    font-size: 2.6rem;
    margin-top: 4rem;
}

.text-box p {
    font-size: 1.18rem;
    width: 80%;
}

.image-box {
    position: relative;
}

.image-box::after {
    border: 1px solid #3d7c98;
    content: '';
    height: 360px;
    left: 2.5rem;
    top: 2rem;
    position: absolute;
    width: 360px;
    z-index: -1;
}

#portrait {
    height: 360px;
    width: 360px;
}


@media (max-width: 575.98px) {
    .hero {
        margin: 0 8%;
        margin-top: 15%;
    }

    .text-box {
        order: 2;
        margin-top: 11%;
    }

    .text-box p {
        width: 100%;
    }

    .image-box {
        order: 1;
    }

    .image-box::after {
        display: none;
    }
}


@media (min-width: 1400px) {
    .text-box {
        padding-left: 3rem;
    }

    .text-box h1 {
        font-size: 3.2rem;
    }
    
    .text-box p {
        font-size: 1.4rem;
        width: 80%;
    }

    .image-box::after {
        height: 420px;
        width: 420px;
    }

    #portrait {
        height: 420px;
        width: 420px;
    }
}