::-webkit-scrollbar {
    width: 0;
}

h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.page-navigations {
    bottom: 20px;
    position: fixed;
    list-style: none;
    right: 70px;
}

.hero {
    height: calc(100vh - 56px - 4rem);
    margin-top: 4rem;
    margin-left: 12%;
}

.text-box h1 {
    font-size: 2.6rem;
    margin-top: 3.8rem;
}

.text-box p {
    font-size: 1.18rem;
}

.image-box {
    position: relative;
}

.image-box::after {
    border: 1px solid black;
    content: '';
    height: 340px;
    left: 2.5rem;
    top: 2rem;
    position: absolute;
    width: 340px;
    z-index: -1;
}

#arrow-down {
    animation: arrowDown 3s infinite;
    bottom: 28px;
    font-size: 24px;
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translateX(-50%, -50%);
}

@keyframes arrowDown {
    0% { bottom: 28px; }
    50% { bottom: 15px; }
    100% { bottom: 28px; }
}

.home-project-section {
    margin-top: 8rem;
}

.home-project-section p {
    font-size: 18px;
    margin-bottom: 4rem;
}

.project-banner {
    margin-left: 12%;
}

.project-description h2 {
    margin-top: 5rem;
}

.project-description p {
    font-size: 18px;
}

.project-description a {
    text-decoration: none;
}

.project-description button {
    border-radius: 50%;
    padding: 5px 10px;
}
