.projects {
    margin: 7% 12% 10% 12%;
}

.projects h2 {
    color: rgb(60, 60, 60);
    font-family: 'Source Sans Pro', sans-serif;
}

.projects p {
    color: rgb(60, 60, 60);
    font-size: 17px;
}

.project-card {
    border-radius: 8px;
    transition: 0.3s ease;
    top: 0;
    position: relative;
}

.project-card:hover {
    top: -8px;
}

.project-card .card-body {
    padding: 24px;
}

.project-card i {
    font-size: 2rem;
}

.programming-language span {
    color: #2aa8de;
    font-size: 14px;
    padding-right: 0.8rem;
    width: 100px;
}

.project-links {
    bottom: 16px; 
    position: absolute; 
    padding-right: 24px;
    width: 100%; 
}

.project-links .view-btn-container {
    padding: 0 0.25rem;
}

.project-links i {
    font-size: 1rem;
}

.project-links .btn-outline-dark:hover {
    background-color: white !important;
    color: #212529 !important;
}


@media (max-width: 575.98px) {
    .projects {
        margin: 7% 8% 10% 8%;
    }

    .project-card .card-body {
        padding-bottom: 8px;
    }

    .project-links {
        position: relative;
        padding-right: 0;
        margin-right: 0;
    }

    .project-links .view-btn-container {
        padding-left: 12px;
    }

    .project-links #view-btn {
        margin-top: 0.5rem;
    }
}