.navbar a {
    color: black;
}

.socials-sidebar {
    bottom: 26%;
    left: 12px;
    position: fixed;
    width: auto;
    z-index: 10;
}

.socials-sidebar a {
    color: rgb(40, 40, 40);
    font-size: 21px;
    position: relative;
    transition: top 0.1s ease-in;
    top: 0;
    margin: 4px 0;
}

.socials-sidebar a:hover {
    top: -5px;
}